<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ofir.social_geha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities_and_Fragments.ZoomedPictureActivity"></activity>
        <activity android:name=".Activities_and_Fragments.SettingsHelp" />
        <activity android:name=".Activities_and_Fragments.SettingsDeleteAccount" />
        <activity android:name=".Activities_and_Fragments.SettingsInfoEditActivity" />
        <activity
            android:name=".Activities_and_Fragments.SettingsMainActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Activities_and_Fragments.mainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ofir.social_geha.Activities_and_Fragments.mainScreen" />
        </activity>
        <activity android:name=".Activities_and_Fragments.ChatActivity" />
        <activity
            android:name=".Activities_and_Fragments.mainScreen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities_and_Fragments.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities_and_Fragments.Signup"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities_and_Fragments.AvailableMatches" />
        <activity
            android:name=".Activities_and_Fragments.FilterMatchesActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".Activities_and_Fragments.AllChatsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>