body { 
	background: #ECEFF1; 
	color: rgba(0,0,0,0.87); 
	font-family: 'Titillium Web', sans-serif;
	margin: 0; 
	padding: 0; 
}
      
#card { 
	position: absolute;
	top: 10%; 
    left: 10%;
	background: white; 
	max-width: 80%; 
	max-height: 80%;
	min-height: 50%;
	border-radius: 3px; 
}

#card h2 { 
	color: #00CFFA; 
	font-weight: bold; 
	font-size: 16px; 
	margin: 0 0 8px; 
}

#card h1 { 
	font-size: 50px; 
	font-weight: 300; 
	color: rgba(0,0,0,0.6); 
	margin: 0 0 16px;
}

#card p { 
	line-height: 140%; 
	margin: 16px 0 24px; 
	font-size: 20px; 
}

#card a {
	text-align: center; 
	background: #039be5; 
	text-transform: uppercase; 
	text-decoration: none; 
	color: white; 
	padding: 10px; 
	border-radius: 10px; 
	margin: 30px;
}

#card, #card a { 
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
}

#card, #text {
	width: 80%;
	padding: 20px;
}

.btn-group {
	margin-top: 50px;
	margin-left: 70px;
	text-align: center;
}

.btn-group button {
  background-color: #7F125E;
  border: 1px solid #b2709e;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase; 
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #98417e;
}

#load { 
	color: rgba(0,0,0,0.4); 
	text-align: center; 
	font-size: 13px; 
}

@media (max-width: 600px) {
	body, #card { 
		margin-top: 0; 
		background: white; 
		box-shadow: none;
	}
	body { 
		border-top: 16px solid #ffa100; 
	}
}